{% extends 'base.html.twig' %}

{% block title %} Gerer les traduction{% endblock %}

{% block body %}
<style>
    
</style>
<div class="container mt-4">
    <h1> gerer les traductions</h1>
    <table class="table table-striped">
    <thead>
    <tr>
        <th> Titre</th>
        <th>traduction</th>
       
    </tr>
    </thead>
    <tbody>
  {% for  %}
  <tr>
  <td> traduction</td>
  <td> {{traduct.langue}} </td>
  <td> {{ traduct.traductfield }}</td>
  <td> <a href="#" class="btn btn-primary">edit</a></td>
  <td> <a href="{{ path('source_del', {'id': projets.id, 'sId': source.id}) }}" class="btn btn-danger" onCLick="return confirm('are you sure?')">Delet</a></td>
  
  </tr>
  {% endfor %}
    </body>
</table>
<div style="float:right">
  {% if projets is defined %}
    <a href="{{ path('projet_source', {'id': projets.id}) }}" class="btn btn-success">Créer une source</a>
  {% endif %} 
  <a href="{{ path('file_upload') }}" class="btn btn-warning">Upload une source</a>
</div>
</div>
{% endblock %}