{% extends 'base.html.twig' %}
{% form_theme form_create 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class="form" >
 {{ form_start(form_create) }}
        {{ form_row(form_create.Name) }}
        {{ form_row(form_create.User_name) }}
        {{ form_row(form_create.Langue) }}
     <button type="submit">Add Projet!</button>     
         {{ form_end(form_create) }}
</div>
{% endblock %}